*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    background-color: #000;
    color: #fff;
    width: 500px;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-butns{
    margin: 10px 0;
}
.form-butns button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.reg-btn{
    background-color: #000;
    color: #fff;
}
.form h2{
    text-align: center;
    text-transform: uppercase;
}
.register form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.form-group{
    width: 100%;
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.register{
    display: block;
    width: 100%;
}
.login{
    display: none;
    width: 100%;
}
.label label{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-control{
    width: 97%;
    padding: 8px 5px;
    font-size: 16px;
    border-radius: 5px;
}
.form-group button{
    width: 100%;
    cursor: pointer;
}