*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
body{
    font-family: 'Poppins';
}

.big-button{
    padding: 18px 25px;
    border-radius: 25px 25px 25px 0;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #F59E1A;
    color: #fff;
    border: none;
    cursor: pointer; 
}

.big-button:hover{
    background-color: #116E63;
    color: #fff;
}

.top-header .social-icons{
    display: none;
}
.top-header .contact-info{
    display: none;
}
.small-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
}
.small-social .small-social-top{
    display: flex;
    align-items: center;
    justify-content: space-around;          /* replaced space-between with space-around */
    width: 100%;
    gap: 14rem;                             /* added gap property with the value of 15rem */
}
.small-social .small-social-top .icon{
    width: 130px;
    padding-top: 10px;                      /* added padding top of 10px */
}
.small-social .small-social-top .icon img{
    width: 100%;
}

.small-social .small-social-top .search-menu ul{
 display: flex;
 list-style: none;
 align-items: center;
 gap: 1.5rem;
}

.search-menu ul li#search{
    font-size: 1.25rem;
}

.search-menu ul li#list{
    font-size: 2rem;
}

.search-menu ul li a{
    text-decoration: none;
    color: #19232b;
}

.small-social .small-social-bottom{
    display: none;
}
.main-header{
    display: none;
}
.floating-menu{
    display: none;
}
.banner{
    background-image: url("../images/background/slider-2.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.banner .banner-container{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .banner-container div{
    width: 690px;
}

.banner .banner-container div h4{
    color: #F59E1A;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    border-bottom: 3px solid #F59E1A;
    width: fit-content;
}

.banner .banner-container div h1{
    font-size: 4rem;
    line-height: 1.12;
    margin: 20px 0;
    text-transform: capitalize;
}

.banner .banner-container h1 span{
    color: #F59E1A;
}

.banner .banner-container p{
    margin-bottom: 20px;
    line-height: 30px;
}

.banner .banner-container .banner-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 35px;
}

.banner .banner-container .banner-buttons #white-bg{
    background-color: #fff;
    color: #000;
}

.banner .banner-container .banner-buttons #white-bg:hover{
    background-color: #116E63;
    color: #fff;
}

.choices{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-right: 1.5rem;
}

.choice-item{
    width: 190px;
    /* height: 250px; */
    padding: 20px;
    border-radius: 60px 60px 60px 0;
    box-shadow: 0.5em 0.5em 0.9em #7f7f7f;
}

.choice-icon{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.c-icon{
    width: 40px;
    height: 40px;
    background-color: #116E63;
    border-radius: 100%;
    padding: 20px;
    margin-bottom: 25px;
}
.c-icon img{
    width: 100%;
    height: 100%;
}

.icon-text{
    font-size: 50px;
    color: #116E63;
    font-weight: bold;   
}

.choice-text h2{
    font-size: 19.6px;
    line-height: 22px;
    margin-bottom: 20px;
}

.choice-text p{
    font-size: 16px;
    line-height: 25px;
}

@media screen and (min-width: 1000px) {
    .top-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }
    .top-header .social-icons{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #F59E1A;
        height: 100%;
        width: 30%;
        column-gap: 0.6rem;
        padding-left: 20px;
    }
    .top-header .social-icons p{
        margin: 0;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .top-header .social-icons a{
        color: white;
        font-size: 1rem;
        background-color: #116E63;
        padding: 3px;
        border-radius: 100px;
        text-decoration: none;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-header .contact-info{
        display: flex;
        align-items: center;
        background-color: #116E63;
        height: 100%;
        width: 70%;
        column-gap: 1.5rem;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .top-header .contact-info div{
        color: white;
        font-size: 1rem;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        border-right: 1px solid #418B82;
        padding-right: 1.5rem;
    }
    .top-header .contact-info div:last-child{
        border-right: none;
        padding-right: 0;
    }
    .top-header .contact-info div span{
        margin-right: 5px;
        font-size: 1.2rem;
        color: #F59E1A;
        font-weight: 500;
        display: flex;
        align-items: flex-start;
    }
    .small-social{
        display: none;
    }
    .main-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        padding-left: 20px;
        padding-right: 20px;
        column-gap: 5rem;
        position: relative;
        position: sticky;
        top: 0;
        left: 0;
        background-color: #fff;
    }
    .main-header .logo{
        width: 130px;
    }
    .main-header .logo img{
        width: 100%;
    }
    .main-header .main-menu{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        height: 100%;
    }
    .main-header .main-menu ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .main-header .main-menu ul li a{
        color: #000;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-header .main-menu ul li a span{
        margin-left: 5px;
        font-size: 13px;
        display: flex;
        align-items: flex-start;
    }
    .main-header .main-menu .search{
        display: flex;
        align-items: center;
        gap: 2rem;
        height: 100%;
    }
    .main-header .main-menu .search a{
        text-decoration: none;
        font-size: 18px;
        display: flex;
        align-items: flex-start;
    }


    .home{
        display: none;
        position: absolute;
        width: 220px;
        background-color: #116E63;
        color: #fff;
        top: 100px;
        left: 250px;
        border-top: 3px solid #F59E1A;
    }
    .home ul {
        list-style: none;
    }
    .home ul li{
        border-bottom: 1px solid #418B82;
        padding: 10px 25px;
    }
    .home ul li a{
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
    a#home:hover + .home{
        display: block;
    }

}