*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
body{
    font-family: 'Poppins';
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.top-header .social-icons{
    display: none;
}
.top-header .contact-info{
    display: none;
}
.small-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
}
.small-social .small-social-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.small-social .small-social-top .icon{
    width: 100px;
}
.small-social .small-social-top .icon img{
    width: 100%;
}
.small-social .small-social-bottom{
    display: none;
}

@media screen and (min-width: 1000px) {
    .top-header .social-icons{
        display: flex;
        align-items: center;
        background-color: #F59E1A;
        height: 100%;
        padding-left: 10px;
        width: 30%;
        column-gap: 0.6rem;
    }
    .top-header .social-icons p{
        margin: 0;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .top-header .social-icons a{
        color: white;
        font-size: 1rem;
        background-color: #116E63;
        padding: 3px;
        border-radius: 100px;
        text-decoration: none;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-header .contact-info{
        display: flex;
        align-items: center;
        background-color: #116E63;
        height: 100%;
        padding-right: 10px;
        width: 70%;
        column-gap: 1.5rem;
        justify-content: flex-end;
    }
    .top-header .contact-info div{
        color: white;
        font-size: 1rem;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        border-right: 1px solid #418B82;
        padding-right: 1.5rem;
    }
    .top-header .contact-info div:last-child{
        border-right: none;
        padding-right: 0;
    }
    .top-header .contact-info div span{
        margin-right: 5px;
        font-size: 1.2rem;
        color: #F59E1A;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .small-social{
        display: none;
    }
}